<% include ../partials/header %>

<div class="row entry-form">
  <form action="/campgrounds/<%= campground._id %>/comments" method="post">
    <legend>Add New Comment to <%= campground.name %></legend>
    <div class="form-group">
      <label for="comment">Comment</label>
      <input id="comment" class="form-control" type="text" name="comment[text]" placeholder="text" autofocus required>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block">Submit!</button>
    </div>
  </form>
  <a href="/campgrounds">Go Back</a>
</div>

<% include ../partials/footer %>
